apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: shopinow
spec:
  storageClassName: ""  # Empty string to match manual PV
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
